/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*.modal-container {
  border-radius: 10px;
  border: 10px solid white;
}*/

/* reset */
html, body, section, article, h1, h2, p {
   margin: 0;
   border: 0;
   padding: 0;
   font-family: inherit;
   text-align: inherit;
   text-decoration: inherit;
   color: inherit;
   background: transparent;
 }

body {
  font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: white;
}

button, .button {
  margin: 6px;
  box-sizing: border-box;
  transition: opacity ease-in-out 100ms, color ease-in-out 100ms, background-color ease-in-out 100ms, border-color ease-in-out 100ms;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
  display: inline-block;
  font-weight: 500;
  outline: 0;
  padding: 3px 7px 4px 7px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  color: #585a61;
  border: 1px solid #ced1e1;
  font-size: 13px;
  line-height: normal;
}

button:hover, .button:hover {
  border: 1px solid #a0a6c5;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

h3 {
  font-weight: normal;

  padding: 5px 5px 5px;
  border-bottom: 1px solid #ddd;
}

input {
  width: 200px;
  padding: 10px 0 11px 14px;

  height: 29px;
  border: 1px solid #e2e2e2;
  outline: 0;
  background: #fff;
  box-shadow: inset 0 1px 1px rgba(200,200,200,0.3);
  box-sizing: border-box;
  font-size: 15px;
  line-height: 1.4;
  padding: 3px 8px;
  border-radius: 2px;
  max-height: 29px;
  min-height: auto;
  background-color: #e6e6e6;
  overflow-y: hidden;
}
/* reset */

/* main nav */
header {
  z-index: 10;

  position: fixed;
  top: 0;
  left: 0;

  width: 99%;
  min-width: 515px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 0 8px;

  background-color: #f5f7ed;
  border-top: 2px solid #7cb5c0;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);

  font-weight: 400;
  color: #585a61;
}

.logo a {
  color: #7cb5c0;
}

.header-sign-out-button {
  width: auto;
  margin-left: 8px;
}

.header-group {
  display: flex;
  align-items: center;
}

.dummy-ask-bar {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: 400;
}

.dummy-ask-button {
  float: right;
  padding: 5px 8px 6px 10px;
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* main nav */

/* sign-in-up modals */
.sign-in-up {
  display: flex;
}

.sign-in-form-container, .modal-container {
  padding: 6px;
  text-align: center;
  background-color: #f5f7ed;
}

.modal-title {
  padding: 5px 5px 5px;
  margin: 30px;
  border-bottom: 1px solid #ddd;
  color: #7cb5c0;
}

.errors {
  list-style-type: none;
  color: #7cb5c0;
  padding: 0;
}

.empty-input {
  color: gray;
}
/* sign-in-up modals */

/* question index */
.question-index {
  padding-top: 10px;
  /*position: relative;*/
  display: flex;
  color: #585a61;
}
@media (max-width: 800px) {
  .question-index {
    flex-direction: column;
  }
}

.question-index h3 {
  color: black;
}

.topic-list {
  flex: 1;
  padding: 20px 20px 20px 20px;
  margin: auto;
  margin-top: 0;
  height: 80px;
}

.topic-list-content {
  position: fixed;
}

.feed {
  flex: 3;
  padding: 20px 20px 20px 20px;
  margin: auto;
  margin-top: 0;
}

.help-box {
  flex: 1;
  padding: 20px 20px 20px 20px;
  margin: auto;
  margin-top: 0;
  height: 80px;
}

.help-box-content {
  position: fixed;
}
/* question index */

/* question index item */
.question-index-item {
  padding: 5px 5px 5px;
  margin: 5px 0 5px 0;
  border-bottom: 1px solid #ddd;
}

.author-icon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
/* question index item */
